/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* the styles for the header */
header img {
	float: left;
}
header{
	h2{font-size: 170%;
	   color: #800000;
	   text-indent: 30px;}
	h3{font-size: 130%;
	   font-style: italic;
	   text-intent: 30px;}
}
	
body{width:600px;
      top-margin:0px;
      bottom-margin:0px;
      border:3px color#931420;
      background-color: #fffded;}
h2{
	font-size: 170%;
	color: #800000;
	indent: 30px;
	
}
#border2{width: 800px;
	margin: 0 auto;
	border-top: solid 3px;
	border-bottom: solid 3px;
}
        
h3{
	font-size: 130%;
	font-style: italic;
	indent: 30px;
}
/* the styles for the section */
main {
	clear: left;
}

/* the styles for the footer */
footer {
	text-align: center;
}
