
* {
	margin: 0;
	padding: 0;
}
/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* the styles for the header */
header{
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
}
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}
header h2{font-size: 170%;
	   color: #800000;
	   }
         
header h3{font-size: 130%;
	   font-style: italic;
	   }

	

/* the styles for the section */
main {
	clear: left;
	padding-right: 30px;
	padding-left: 30px;
}
body{width:600px;
      margin-top: 0;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
      border:3px solid #931420;
      background-color: #fffded;}
main h1{
	font-size: 150%;
        border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;
	padding-top: .3em;
	padding-bottom: .3em;
}
main h2{
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
	}
        
main h3{
	font-size: 105%;
	padding-bottom: .25em;
}
img{
	padding-bottom: 1em;
}
p{
	padding-bottom: .5em;
}
blockquote{ 
	padding-top: 2em;
	padding-bottom: 2em;
	font-style: italic;
}
ul{ 
	padding-bottom: .25em;
	padding-left: 1.25em;
}
li{
	padding-bottom: .35em;
}
/* the styles for the footer */
footer {
	text-align: center;
	border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;
	background-color: #931420;
	color: white;
	padding-bottom: 1em;
}
